/**
 * 管理工具条
 * @author 邦彦<bangyan@taobao.com>
 */
/* = 全局样式
----------------------------------------------- */
.press-admin {
	width: 100%;
	height: 35px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2147483647;
	background: #464646;
	background-image: -webkit-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: -moz-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: linear-gradient(to top, #373737 0, #464646 5px);
	min-width: 768px;
	box-shadow: 0 1px 3px #ddd;
}

.press-admin-logo {
	width: 190px;
	height: 35px;
	float: left;
}

.press-admin-logo a {
	background: url(http://img01.taobaocdn.com/tps/i1/T1KS1uXs8hXXcOO9rl-190-35.png) no-repeat;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

/* = 一级菜单
----------------------------------------------- */
.press-admin-menu {
	float: left;
}

.press-admin-item {
	float: left;
	position: relative;
}

.press-admin-explore {
	border-left: 1px solid #333;
	display: inline-block;
}

.press-admin-explore a:link,
.press-admin-explore a:visited {
	border-left: 1px solid #555;
	border-right: 1px dashed transparent;
	color: #ddd;
	display: inline-block;
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	padding: 0 12px;
	text-decoration: none;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	transition: .2s linear;
}

.press-admin-explore a:hover,
.press-admin-current a:link,
.press-admin-current a:visited {
	color: #fafafa;
	background: #222;
	background-image: -webkit-linear-gradient(bottom, #3a3a3a, #222);
	background-image: -moz-linear-gradient(bottom, #3a3a3a, #222);
	background-image: linear-gradient(to top, #3a3a3a, #222);
}

.press-admin-explore a s,
.press-admin-current a s {
	border-width: 4px;
	border-style: solid dashed dashed dashed;
	border-color: transparent;
	border-top-color: #ccc;
	height: 0;
	width: 0;
	display: inline-block;
	margin-left: 5px;
}

.press-admin-explore a:hover s,
.press-admin-current a i {
	border-top-color: #fafafa;
}

/* = 二级菜单
----------------------------------------------- */
.press-admin-submenu {
	background: #fff;
	border-color: #dfdfdf;
	border-style: solid;
	border-width: 0 1px 1px;
	padding: 6px 0;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 1px;
	top: 35px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.press-admin-submenu a:link,
.press-admin-submenu a:visited {
	color: #666;
	display: block;
	height: 27px;
	line-height: 27px;
	padding: 0 13px;
	white-space: nowrap;
	min-width: 63px;
}

.press-admin-submenu a:hover {
	background: #efefef;
	color: #15c;
}

/* = 一级菜单悬停效果
----------------------------------------------- */
.press-admin-parent:hover .press-admin-explore a {
	background: #fff;
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	color: #333;
}

.press-admin-parent:hover .press-admin-explore a s {
	border-top-color: #333 !important;
}

.press-admin-parent:hover .press-admin-submenu {
	visibility: visible;
	opacity: 1;
}

/* = 右侧操作按钮
----------------------------------------------- */
.press-admin-action {
	float: right;
}

/* = 操作信息
----------------------------------------------- */
.press-admin-message {
	text-align: center;
	margin-top: 35px;
}

.press-admin-message span {
	background: #fffdc6;
	border: 1px solid #f1c965;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 20px;
	margin: 0 auto;
	white-space: nowrap;
	box-shadow: 0 1px 2px #eee;
}

.press-admin-message a {
	margin: 0 5px;
}